{% extends 'main.html' %}

{% block content %}

<div class="form-container">
<table>
    <tr>
        <th>id</th>
        <th>Дата</th>
        <th>Фирма</th>
        <th>Склад</th>
        <th>Вид поръчка</th>
        <th>Сума</th>
        <th>Салдо</th>
        <th>Поръчка</th>
        <th>Забележка</th>

    </tr>
    <tr>
        <td>Склад:</td>
        <td>{{warehouse}}</td>
        <td>Сума:</td>
        <td>{{total_sum}}</td>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.id}}</td>
        <td>{{record.created_at}}</td>
        <td>{{record.partner.name}}</td>
        <td>{{record.get_warehouse_display}}</td>
        <td>{{record.get_order_type_display}}</td>
        <td>{{record.amount}}</td>
        <td>{{record.balance}}</td>
        <td>{{record.order}}</td>
        <td>{{record.note}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}