#el1 {display: inline-block;margin-right:10px;width:200px;}
#el2 {display: inline-block;margin-right:10px;width:200px;}
#el3 {display: inline-block;margin-right:10px;width:200px;}
#el4 {display: inline-block;margin-right:10px;width:200px;}
#el5 {display: inline-block;margin-right:10px;width:200px;}
#el6 {display: inline-block;margin-right:10px;width:200px;}


